* {
    transition: all 0.3s;
}

.body-style {
    background-size: cover !important;
    overflow-y: hidden;
}

.body-background {
    background: linear-gradient(rgba(255,255,255, 0.6), rgba(255, 255, 255, 0.6)), url('assets/mizuki.png') no-repeat;
}

.main-container {
    display: flex;
    height: 100vh;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.textkai {
    font-family: 'LXGW WenKai Screen R';
}

.centering {
    text-align: center;
}

.link-list {
    list-style: none;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

.link-list li {
    font-size: 1.5em;
    line-height: 1em;
    text-align: left;
}

.link-list li a:link, a:visited {
    color: inherit;
    text-decoration: none;
}

.link-list li a:hover {
    color: inherit;
    text-decoration: underline;
}

.link-list li a:active {
    color: skyblue;
    text-decoration: underline;
}

.link-list li::before {
    content: url('assets/go-black.svg');
    display: inline-block;
    vertical-align: middle;
    width: 1em;
    height: 1em;
    margin-bottom: 0.5em;
}

.footer {
    color: gray;
    position: absolute;
    bottom: 0;
    line-height: 2em;
}

@media (prefers-color-scheme: dark) {
    .body-background {
        background: linear-gradient(rgba(41, 41, 41, 0.8), rgba(41, 41, 41, 0.8)), url('assets/mizuki.png') no-repeat;
    }

    .body-style {
        color: white;
    }

    .link-list li::before {
        content: url('assets/go-white.svg');
    }
}